body {

    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orangered;
}

.flexing {
    display: flex;
}

.half_width {
    width: 100%;
    padding: 50px 50px;
}

.half_width img {
    width: 80%;
}

.button {
    text-decoration: none;
    color: white;
    background-image: radial-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 10px;

}

#section_1 {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

#section_2 {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}